name: F1 Spring Boot CI

on: push:
branches: - master 
pull_request:

jobs: vm-jobs: 
runs-on: ubuntu-latest

services: 
postgres: 
image: postgres:12.2 
env: 
POSTGRES_USER: user 
POSTGRES_PASSWORD: pass 
POSTGRES_DB: spring-jwt 
ports: # will assign a random free host port - 5432/tcp 
# needed because the postgres container does not provide a healthcheck 
options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5 
steps: - uses: actions/checkout@v1 - name: Set up JDK 1.8 uses: actions/setup-java@v1 with: java-version: 1.8 - name: Run tests run: mvn clean install
